@inject ChatService ChatService

<MudPaper Elevation="4" Class="pa-4">
    <div class="img-container">
        <img src="@Chat.Url" alt="Un chat" />
    </div>
    @if (VoirRace)
    {
        <MudText Typo="Typo.subtitle1" Align="Align.Center"><strong>Race :</strong> @Chat.Race[0].Nom</MudText>
    }
     @if (VoirOrigine)
    {
        <MudText Typo="Typo.subtitle1" Align="Align.Center"><strong>Race :</strong> @Chat.Race[0].Origine</MudText>
    }
    @if (VoirDescription)
    {
        <MudText Typo="Typo.subtitle1" Align="Align.Center"><strong>Description :</strong> @Chat.Race[0].Description</MudText>
    }
    <br/>
</MudPaper>
